# Environment
.env
.env.*
!.env.example

# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.so

# Logs
*.log

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Data files
data/
*.zip
*.csv

# Docker local volumes (if any)
pgdata/

# Alembic artifacts
*.sqlite3

# instructions
readmes/